# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Vite cache
.vite/

# Build output
dist/
build/

# Storybook build
storybook-static/

# Coverage
coverage/

# Test cache
.vitest/

# Local env files
.env
.env.*.local

# Editor directories and system files
.idea/
.vscode/
.DS_Store
Thumbs.db
